@import 'bourbon/bourbon';
@import 'meyer-reset';
@import 'variables';
@import 'fonts';

html {
  font-size: 10px;
  font-family: $source-code-pro;
}

h1,
h2 {
  font-weight: $weight-bold;
}

.app {
  padding: 3rem;
}
