/* Lato */
@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro-ExtraLight.ttf');
  font-weight: 300;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  font-family: Source Code Pro, sans-serif;
  font-weight: normal;
  color: #333;
}

#root,
main {
  height: inherit;
}

main {
  padding: 32px;
  box-sizing: border-box;
}

header {
  border-bottom: 4px solid #333;
}

header > a {
  display: block;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

header nav {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  max-width: 800px;
  flex-wrap: wrap;
}

header nav a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  margin: 4px;
}

.home,
.loader {
  height: calc(100% - 172px);
}

.home,
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 350px) {
  .home,
  .loader {
    height: calc(100% - 124px);
  }
}

@media (min-width: 470px) {
  .home,
  .loader {
    height: calc(100% - 96px);
  }
}

.home img {
  max-width: 100%;
  max-height: 600px;
}

.gallery {
  overflow: auto;
  margin: 16px 0;
}

.gallery h1 {
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 24px;
  border-bottom: 2px solid #333;
}

.cv h1 {
  text-transform: uppercase;
  font-size: 24px;
  margin: 16px 0;
  font-weight: bold;
}

.cv h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid;
  margin: 16px 0;
}

.cv dl {
  display: flex;
  flex-direction: column;
}

.cv dl div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

dt,
dd {
  margin: 16px 0;
}

a {
  color: #333;
}
