/* Lato */
@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro-ExtraLight.ttf');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: Source Code Pro, sans-serif;
  font-weight: normal;
}
