/* Lato */
@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../assets/fonts/SourceCodePro-ExtraLight.ttf');
  font-weight: 300;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  font-family: Source Code Pro, sans-serif;
  font-weight: normal;
  color: #000;
}

#root,
main {
  height: inherit;
}

main {
  padding: 48px;
  box-sizing: border-box;
}

header {
  padding: 0 48px;
}

header {
  border-bottom: 4px solid #000;
}

header > a {
  display: inline;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

header nav {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  max-width: 800px;
  flex-wrap: wrap;
  margin-top: 32px;
  padding-bottom: 8px;
}

header nav a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  margin: 4px;
  border-bottom: 2px solid;
  border-color: transparent;
  transition: all .3s ease-in-out;
}

header nav a:hover,
header nav a.active,
.collection nav a:hover,
.collection nav a.active {
  border-color: #000;
}

.home,
.loader {
  height: calc(100% - 190px);
  padding: 32px;
  box-sizing: border-box;
}

.home {
  padding-top: 48px;
  padding-bottom: 0;
}

.home,
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 350px) {
  .home,
  .loader {
    height: calc(100% - 142px);
  }
}

@media (min-width: 470px) {
  .home,
  .loader {
    height: calc(100% - 114px);
  }
}

.home img {
  max-width: 100%;
  max-height: 600px;
}

.gallery {
  overflow: auto;
  margin: 16px 0;
}

.gallery h1 {
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-size: 32px;
  border-bottom: 2px solid #000;
}

.cv,
.about {
  padding: 32px 48px;
}

.cv h1,
.about h1 {
  text-transform: uppercase;
  font-size: 24px;
  margin: 16px 0;
  font-weight: bold;
}

.about a {
  display: block;
  margin: 16px 0;
  text-decoration: none;
}

.cv h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid;
  margin: 16px 0;
}

.cv dl {
  display: flex;
  flex-direction: column;
}

.cv dl div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

dt,
dd {
  margin: 16px 0;
}

dt {
  width: 300px;
}

dd {
  width: calc(100% - 300px);
}

a {
  color: #000;
}

.collection {
  padding: 32px 48px;
}

.collection nav {
  display: flex;
  justify-content: center;
}

.collection nav a {
  margin: 0 16px;
  font-size: 18px;
  border-bottom: 2px solid;
  border-color: transparent;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.collection > div:first-of-type .gallery {
  margin-top: 0;
}

.collection > div:last-of-type .gallery {
  margin-bottom: 0;
}
